 a{text-decoration:none}

 .homebanner .slide_nav a,.conblock .more,.conlist li a,.footlogo,.sidemenu li .current,.honorlist li,.contactlist-tit,.main address,.linkhome,.prdlink,.honortime,.backtop{background:url(/mbtisoft/pic/sprite.png?20140314) no-repeat;}
 .prdlink{display:inline-block; width:102px; height:34px; padding: 0 27px 0 4px; background-position:0 -196px; line-height:33px; text-align: center;}
