@charset "utf-8";
	*{
		margin:0;
		padding:0;
	}
	html{font-size:62.5%;}  
	body {
		background-color: #fff;
		font:normal 100% "microsoft yahei";
		font-size:14px; 
		font-size:1.2rem; 
		}
		span.radio{
		padding-top: .1rem;
	}  
	ul,li{
		list-style: none;
	}
	.w-body{
		background: #fff;
	}
	.test{
		width:90%;
		margin:0 auto;
		padding: 2rem 0 0 0;
	}
	.test p{
		font-size: 1.4rem;
		font-weight: 700;
		color:#333;
		line-height:2rem ;
		margin-left: 1rem;
	}
	.test li{
		/*padding:15px 15px;*/
		/*width: 80%;*/
	}
	.test li label{
		display: inline-block;
		width: 88%;
		position: relative;
		padding: 1rem 1rem 1rem 2.9rem;
		color: #666;
		font-weight: 400;
		cursor: pointer;
	}
	.test li label:hover{
		background: #fafafa;
	}
	.test li label:hover span.radio{
		background:url('radio_checked.png') no-repeat scroll 0 0;
	}
	.test li label input{
		margin-bottom: 5px;
	}
	.re-integrity-m {
	margin-top:60px ;
	height: 20px;
 
	background: #f0f0f0;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #ebebeb;
	}
	.re-integrity-m .re-solid {
	  	height: 20px;
	  	width: 50%;
	 	font-size: 12px;
	 	line-height: 20px;
	 	color: #fff;
		background: #90e331;
		text-align: center;
		border-radius: 5px;
	}
.appr-result .btn {
	  background-color: #6bc513;
	  border: 0 none;
	  border-radius: 5px;
	  color: #fff;
	  cursor: pointer;
	  font-size: 16px;
	  height: 40px;
	  text-align: center;
	  width: 120px;
	}
	.appr-result .btn:hover {
	  background: #63b216;
	}
	.appr-result{
		width: 100%;
		margin:0 auto;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
	  content: '';
	  content: none;
	}
	.pro{
	 margin-top:30px ;
	}
	 .progress {
	  width: 91%;
	  padding:0 1rem 0 0rem;
	}
	
	.progress {
	  /*background: rgba(0, 0, 0, 0.09);*/
	  background-color:#fafafa ;
	  border-radius: 11px;
	/*  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);*/
	/*  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);*/
	}
	.progress-bar {
	  position: relative;
	  height: 14px;
	  border-radius: 14px;
	  -webkit-transition: 0.4s linear;
	  -moz-transition: 0.4s linear;
	  -o-transition: 0.4s linear;
	  transition: 0.4s linear;
	  /*-webkit-transition-property: width, background-color;
	  -moz-transition-property: width, background-color;
	  -o-transition-property: width, background-color;
	  transition-property: width, background-color;*/
	 /* -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
	  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);*/
	}
	.progress-bar:before, .progress-bar:after {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	}
	.progress-bar:before {
	  bottom: 0;
	  border-radius: 11px 11px 0 0;
	}
	.progress-bar:after {
	  z-index: 2;
	  bottom: 45%;
	  border-radius: 11px;
	  /*background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));*/
	}
	#five:checked ~ .progress > .progress-bar {
	  width: 5%;
	  background-color: #27b7f4;
	}
	
	#twentyfive:checked ~ .progress > .progress-bar {
	  width: 25%;
	  background-color: #27b7f4;
	}
	
	#fifty:checked ~ .progress > .progress-bar {
	  width: 50%;
	  background-color: #27b7f4;
	}
	
	#seventyfive:checked ~ .progress > .progress-bar {
	  width: 75%;
	  background-color: #27b7f4;
	}
	
	#onehundred:checked ~ .progress > .progress-bar {
	  width: 100%;
	  background-color: #27b7f4;
	}
	
	.label {
	  display: inline-block;
	  margin: 0 5px 5px;
	  padding: 3px 8px;
	  color: #aaa;
	  text-shadow: 0 1px black;
	  border-radius: 3px;
	  cursor: pointer;
	}
	.radio:checked + .label {
	  color: white;
	  background: rgba(0, 0, 0, 0.25);
	}
	.hid-box{
		border:1px solid #ebebeb;
		border-radius: 5px;
		color: #656d78;
		margin:20px;
		padding:10px;
		font-weight: 400;
	}
	/*add*/
	.hand{
		cursor: pointer;
	}
	/*按钮样式*/
	input[type='radio'].radio {opacity:0; filter: alpha(opacity=0); position: absolute;}
	span.radio {background:url('../images/radio_check.png') no-repeat; display:inline-block;padding-left:25px;}
	span.radio>span{display:inline-block;width:100%;margin-top: -.2rem;}
	input[type='radio'].radio:checked + .radio {background:url('../images/radio_checked.png') no-repeat;}
	/*标题换行缩进*/
	.line-feed{
		/*display:inline-block;width: 10%;*/
	}
	.line-feed+span{
		display:inline-block;width:89%;vertical-align: top;
	}
	/*按钮样式*/
	.b-btn{
		background-color: #27b7f4;
		border: 0 none;
		border-radius: 5px;
		color: #fff;
		cursor: pointer;
		font-size: 16px;
		height: 45px;
		margin-top: 0;
		text-align: center;
		width: 12.5rem;
		}
	.b-btn:hover{
		background-color:#fd5d2e
	}